@import "variables";
// Footer
.footer {
  // background-color: $bgColor;
  border-top: 1px solid #d1d1d1;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.footer__text {
}
