@import "../variables";
.tare {
  padding: 60px 0;
}
.tare__title {
}
.tare__inner {
}
.tare__img {
  img {
    max-width: 100%;
  }
}
.tare__info {
  max-width: 596px;
}
.info-tare {
}
.info-tare__title {
  margin-bottom: 25px;
}
.info-tare__text {
}
