@import "../variables";
// Advantages
.advantages {
  padding: 60px 0;
}
.advantages__title {
}
.advantages__inner {
}
.advantages__img {
  img {
    max-width: 100%;
  }
}
.advantages__info {
  max-width: 596px;
}
.info-advantages {
}
.info-advantages__title {
  margin-bottom: 25px;
}
.info-advantages__text {
}
